server:
  port: 8001
spring:
  profiles:
    active: @profiles.active@
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 200MB
  datasource:
    dynamic:
      druid:
        validation-query: SELECT 1

mybatis-plus:
  config-location: classpath:mybatis-config.xml


---
spring:
  profiles: dev
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          username: root
          password: 1qaz!QAZ
          driver-class-name: com.mysql.jdbc.Driver
          url: jdbc:mysql://123.57.89.226:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowMultiQueries=true&allowPublicKeyRetrieval=true
        slave:
          username: root
          password: 1qaz!QAZ
          driver-class-name: com.mysql.jdbc.Driver
          url: jdbc:mysql://123.57.89.226:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowMultiQueries=true&allowPublicKeyRetrieval=true
